
/**
 * Admin section styles
 */

html, body {
    height: 100%;
}
.admin {
	position: relative;
	$input-border-radius: 0;
}

#admin-menu {
	width: $admin-menu-width;
	min-width: $admin-menu-width;
	transition: width .25s ease-in-out;

	.badge {
		float: right;
		border-radius: 2px;
		font-weight: normal;
		padding: px2rem(4) px2rem(6);
	}

	ul.list-menu {
		@extend .list-group;

		color: $gray-lighter;
		list-style: none;

		a {
			outline: none;

			&,
			&:hover,
			&:focus,
			&:active {
				text-decoration: none;
			}
		}

		i.ico {
			float: left;
			display: block;
			width: px2rem(30);
		}

		li {
			list-style: none;

			ul, ul li {
				list-style: none;
				margin: 0;
				font-size: inherit;
			}


			color: inherit;
			font-size: px2rem(13);
		}


		.list-menu-item {
			padding: $admin-menu-padding;
			color: inherit;
			display: block;
		}

		.list-menu-heading,
		.list-menu-link {
			position: relative;
			text-transform: uppercase;
			padding: $admin-menu-padding;
			color: inherit;
			display: block;
			font-size: 1rem;
			margin: 0;
			cursor: pointer;
			user-select: none;

			transition: background-color .25s ease-in-out;

			h1,h2,h3,h4,h5,h6 {
				margin: 2px 0 0 0;
				display: block;

				> a {
					color: inherit;
					display: block;
				}
			}

			&.active:after {
				content: " ";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				pointer-events: none;
				border-left: 3px solid $brand-info;
			}

			&:hover,
			&[aria-expanded="true"] {
				color: $white;
				background-color: rgba(0, 0, 0, 0.1);
				&:after {
					content: " ";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					pointer-events: none;
					border-top: 1px solid rgba(0, 0, 0, 0.125);
					border-bottom: 1px solid rgba(0, 0, 0, 0.125);
				}
			}

			&.active {
				background-color: rgba(0, 0, 0, 0.1);
			}
		}

		.list-sub-menu {
			position: relative;
			background-color: rgba(0, 0, 0, 0.05);

			ul {
				padding-left: 0;

				li {
					&.active,
					&:hover {
						background-color: rgba(0, 0, 0, 0.06);
					}

					a {
						padding-left: px2rem(50);
						display: block;
						color: $white;
					}
				}
			}
		}

		.menu-add {
			position: relative;
			&:after {
				@extend .lnr;
				@extend .lnr-plus;

				transform: translateY(-50%);
				position: absolute;
				right: px2rem(10);
				top: 50%;

			}
		}

	}
}

#admin-content {
	width: 100%;
	padding: px2rem(50);

	.d-flex {
		>:first-child {
			flex-grow: 1;
		}

		aside {
			padding-left: 50px;
			min-width: 400px;

			@include media-breakpoint-down(md) {
				min-width: 300px;
			}
		}
	}

	form {
		height: 100%;
	}
}

.admin-container {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-direction: row;
	flex-wrap: nowrap;
	min-height: 100%;

	@include media-breakpoint-down(md) {
		#admin-menu {
			margin-left: -#{$admin-menu-width};
		}

		#admin-content {
			padding: px2rem(10);

			aside {
				padding-left: 0;
			}
		}
	}

	@include media-breakpoint-down(lg) {
		#admin-content {

			aside {
				padding-left: 0;
			}
		}
	}
}

#admin-routes,
.input-group {
	.btn {
		i {
			line-height: 1.5;
			margin-bottom: px2rem(-9);
		}
	}
}

#admin-alert {
    display: none;
}

.form-control[readonly] {
    background-color: #FFF;
}

.input-group label {
    margin-bottom: 0;
}

#admin-form {
    h1, h2, h3, h4, h5, h6 {
        .ico {
            float: left;
            margin-top: 2px;
            margin-right: 16px;
        }
    }

    .input-group .btn {
        padding-top: .4rem;
    }
}

.admin-list {
    .btn-new {
        text-transform: uppercase;

        @media (max-width: 575px) {
            width: 100%;
            padding: 7px;
            margin: 10px 0 20px 0;
            font-size: 12px;
        }

        @media (min-width: 576px) and (max-width: 767px) {
            padding: 7px 5px;
            font-size: 12px;
        }
    }

    td, th {
        vertical-align: middle;
        padding: 0.25rem 0.75rem;
    }

    td a {
        width: 100%;
        display: block;
        text-decoration: none;
    }

    .badge {
        font-weight: normal;
        margin-right: 5px;
    }
}

.sub-active:after {
    border-left: none !important;
}

.blocks,
.widgets {
    .card:not(:last-child) {
        margin-bottom: 24px;
    }

    .metabox-OBJECT,
    .metabox-ARRAY {
        textarea {
            font-family: monospace;
            line-height: 2.35;
        }
    }
}

.blocks {
    .card-header {
        padding-left: .9rem;
        padding-right: .9rem;
    }
}

.widgets {
    .card-header {
        [data-toggle="collapse"] {
            width: 62px;
        }
    }
}

.admin-comment-list,
.admin-thread-list {
    width: 100%;
    padding: 3px;


    .comment,
    .thread {
        position: relative;
        width: 100%;
    }

    .comment-date-wrap,
    .thread-date-wrap {
        width: 150px;
    }

    .comment-date,
    .thread-date {
        float: left;
        width: 100px;
        height: 100px;
        margin-right: 50px;
    }

    .comment-date:before,
    .thread-date:before {
        border-bottom: 1px solid #E9E9E9;
        position: absolute;
        height: 1px;
        width: 50px;
        left: 100px;
        top: 50%;
        content: '';
    }

    .comment-date:after,
    .thread-date:after {
        border-right: 1px solid #E9E9E9;
        position: absolute;
        height: 150px;
        width: 1px;
        left: 123px;
        top: -25px;
        content: '';
    }

    .comment-date div,
    .thread-date div {
        font-size: 1.75rem;
        line-height: 1;
    }

    .comment-date div:first-child,
    .thread-date div:first-child {
        font-size: 1rem;
        text-transform: uppercase;
    }
    .comment-date div:last-child,
    .thread-date div:last-child {
        font-size: .7rem;
    }

    .comment-excerpt,
    .thread-excerpt {
        height: 99px;
        padding: 15px;
        overflow: hidden;
        flex-grow: 1 !important;
    }

    .comment-body,
    .thread-body {
        text-overflow: ellipsis;
        overflow: hidden;
        height: 20px;
    }

    .dot {
        width: 8px;
        height: 8px;
        content: "";
        display: inline-block;
        margin: 0 10px 1px 10px;
    }

    .comment:first-child .comment-date-wrap:after,
    .thread:first-child .thread-date-wrap:after {
        width: 11px;
        height: 11px;
        content: "";
        top: -29px;
        left: 118px;
        position: absolute;
        background-color: #E9E9E9;
        border-radius: 100%;
    }

    .thread-title,
    .comment-post {
        max-height: 20px;
        overflow: hidden;
    }
}
