label.check {
	width: 100%;
	display: block;
	margin-bottom: 0;
	user-select: none;
	cursor: pointer;
	position: relative;
	font-weight: 500;
	transition: color ease-in-out .25s;

	&:after {
		@extend .lnr;
		@extend .lnr-square;

		right: 0;
		top: 50%;
		font-size: px2rem(22);
		color: $gray-lighter;
		position: absolute;
		transform: translateY(-50%);
		transition: color ease-in-out .25s;
	}

	&.active:after {
		@extend .lnr-check-square;
		color: $brand-primary;
		transition: color ease-in-out .25s;
	}

	&:focus {
		outline: none;

		&:after {
			color: $brand-primary !important;
		}
	}
}
