.install {
	margin: 0 auto;
	padding-top: px2rem(40);
	width: px2rem(728);

	h1, h2, h3, h4, h5, h6 {
		padding: 0;
		margin: 0;
	}

	form {
		padding: 0;
		width: 100%;
	}

	.form-control:focus {
		border-color: $input-border-color;
	}

	.input-group-addon {
		padding: 0.5rem 0.75rem;
		padding-right: 0;
		margin-bottom: 0;
		font-size: 1rem;
		font-weight: normal;
		line-height: 1.25;
		text-align: center;
		background-color: $white;
		border: 1px solid rgba(0, 0, 0, 0.15);
		border-right: none;
	}

	input {
		border-left: none;
	}

	.has-danger {
		.form-control:focus {
			border-color: $brand-danger;
		}
	}

	.card {
		display: block !important;
	}

	@include media-breakpoint-down(sm) {
		padding-top: 0;
		width: 100%;
	}

}
