
.loader,
.loader:after {
    border-radius: 50%;
    width: px2rem(80);
    height: px2rem(80);
}
.loader {
    margin: px2rem(30) auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999rem;
    border: px2rem(5) solid rgba(203,203,203, 0.2);
    border-left: px2rem(5) solid #cbcbcb;
    transform: translateZ(0);
    animation: load .75s infinite linear;
}
@keyframes load {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
