/**
 * Typography related helpers and classses
 */


h1, h2, h3, h4, h5, h6 {
  @extend .raleway-semi-bold;
  text-transform: uppercase;
}

$h-size: 72;

@for $i from 1 to 6 {
  h#{$i} {

    @include media-breakpoint-up(xs) {
      font-size: px2rem($h-size - 12);
    }

    @include media-breakpoint-up(md) {
      font-size: px2rem($h-size - 6);
    }

    @include media-breakpoint-up(lg) {
      font-size: px2rem($h-size - 4);
    }

    @include media-breakpoint-up(xl) {
      font-size: px2rem($h-size);
    }

  }
  .heading-#{$i} { @extend h#{$i}; }

  $h-size: $h-size - 12;
}



b,
.bold,
strong,
.strong {
  font-weight:  bold;
}


.text-left,
.txt-left {
  text-align: left;
}

.text-right,
.txt-right {
  text-align: right;
}

.text-center,
.txt-center {
  text-align: center;
}

.text-justify,
.txt-justify {
  text-align: justify;
}

.text-uppercase,
.txt-uppercase,
.text-upper,
.txt-upper {
  text-transform: uppercase;
}

.text-lowercase,
.txt-lowercase,
.text-lower,
.txt-lower {
  text-transform: lowercase;
}

a {
  color: $gray;

  &:hover,
  &:focus,
  &:active {
    color: $gray-light;
  }
}
