/**
 * Variables
 */

$font-dir: 				"../fonts/";

$kbd-color: $red;
$kbd-bg: $gray-lightest;

$xxxs: 2;
$xxs: 4;
$xs: 8;
$s: 16;
$m: 24;
$l: 36;
$xl: 48;
$xxl: 72;
$xxxl: 96;

$sizes: (
	xxxs: $xxxs,
	xxs: $xxs,
	xs: $xs,
	s: $s,
	m: $m,
	l: $l,
	xl: $xl,
	xxl: $xxl,
	xxxl: $xxxl
);
