@for $i from 0 through 5 {
  @if ($i == 0) {
    .bd-#{$i} { border: none !important; }
    .bd-t-#{$i} { border-top: none !important; }
    .bd-r-#{$i} { border-right: none !important; }
    .bd-b-#{$i} { border-bottom: none !important; }
    .bd-l-#{$i} { border-left: none !important; }
  } @else {
    .bd-#{$i} {
      border-width: #{$i}px !important;
      border-style: solid;
    }
    .bd-t-#{$i} {
      border-top-width: #{$i}px !important;
      border-top-style: solid;
    }
    .bd-r-#{$i} {
      border-right-width: #{$i}px !important;
      border-right-style: solid;
    }
    .bd-b-#{$i} {
      border-bottom-width: #{$i}px !important;
      border-bottom-style: solid;
    }
    .bd-l-#{$i} {
      border-left-width: #{$i}px !important;
      border-left-style: solid;
    }
  }

}
