
html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}


@each $key, $value in $sizes {

	// Padding
	.p-#{$key} { padding: px2rem($value); }
	.pt-#{$key} { padding-top: px2rem($value); }
	.pr-#{$key} { padding-right: px2rem($value); }
	.pb-#{$key} { padding-bottom: px2rem($value); }
	.pl-#{$key} { padding-left: px2rem($value); }

	// Margin
	.m-#{$key} { margin: px2rem($value); }
	.mt-#{$key} { margin-top: px2rem($value); }
	.mr-#{$key} { margin-right: px2rem($value); }
	.mb-#{$key} { margin-bottom: px2rem($value); }
	.ml-#{$key} { margin-left: px2rem($value); }

	// Negative Margin
	.m--#{$key} { margin: px2rem($value * -1); }
	.mt--#{$key} { margin-top: px2rem($value * -1); }
	.mr--#{$key} { margin-right: px2rem($value * -1); }
	.mb--#{$key} { margin-bottom: px2rem($value * -1); }
	.ml--#{$key} { margin-left: px2rem($value * -1); }

}


.flex-xs-column {
	flex-direction: column;
}

.flex-xs-row {
	flex-direction: row;
}
