---
title: "Home Page Tempalte"
body-class: "home"
---

{{> header }}

<section class="hero hero-home" style="background-image: url('{{baseurl}}/assets/toolkit/images/fpo/1920x1080.png');">
</section>

<main role="main">

  <section class="container home-about pt-xxxl pb-xxl">
	<div class="row">
	  <div class="col-md-12 col-lg-6">
		<h1 class="heading-5 mb-sm">{{lipsum 0 20}}</h1>
		<p class="heading-3">
		  {{lipsum 25 50}}
		</p>
	  </div>

	  <div class="col-md-12 col-lg-6">
		<p>
		  {{lipsum 100 480}}.
		</p>
		<p class="mt-xl">
		  {{lipsum 150 600}}.
		</p>
	  </div>
	</div>
  </section>

  <section class="home-tiles">
	{{#loop 0 7 1}}
	<a class="tile" href="javascript:void(0);">
	  <img src="{{baseurl}}/assets/toolkit/images/fpo/1x1.png" />
	</a>
	{{/loop}}
  </section>

  <section class="container home-articles pt-xxxl pb-xxxl">
	<div class="row">
	  <div class="col-xs-12 col-sm-12">
		<h2 class="heading-3 mb-m">Recent Articles</h2>
	  </div>
	</div>
	<div class="row">
		{{#loop 0 2 1}}
		<div class="col-xs-12 col-lg-4">
		  <div class="card card-article mb-m">
			  <img class="card-img-top" src="{{baseurl}}/assets/toolkit/images/fpo/2x1.png" alt="Beautiful Waikiki Beach">
			  <div class="card-block">
				<h5 class="card-title"><a href="javascript:void(0);">Article Title</a></h5>
				<p class="card-text">{{lipsum 'random' 150}}&hellip;</p>
			  </div>
			  <div class="card-footer text-right">
				<a href="javascript:void(0);">Read More <i class="lnr-arrow-right mt-xxs ml-xs float-right"></i></a>
			  </div>
		  </div>
		</div>
		{{/loop}}
	</div>
  </section>

</main>

{{> footer }}
