---
{
	"title": "Jam Login",
	"body-class": "login bgc-gray-lightest",
	"admin": true
}
---
<main role="main">
	<div class="card card-shadow">
		<form action="/signin" method="post" id="login-form" class="bgc-white">
			<div class="text-center">
				<img src="/assets/toolkit/images/logo.jpg" class="logo rounded-circle" />
			</div>
			<div class="card-block">
				<div class="alert alert-danger text-center mb-m collapse" aria-hidden="true">Invalid email or password</div>
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon"><i class="lnr-user-lock"></i></span>
						<input type="email" class="form-control" name="username" placeholder="email" title="email address" required />
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon"><i class="lnr-lock"></i></span>
						<input type="password" class="form-control" placeholder="password" name="password" required />
					</div>
				</div>
				<div class="form-group pt-s pb-s">
					<hr />
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-danger btn-lg btn-block rounded">Sign In</button>
				</div>
				<div class="text-center">
					<a href="#">Forgot Password?</a>
				</div>
			</div>

		</form>
	</div>
</main>

<button class="btn btn-clear back" onclick="javascript:window.history.go(-1);" title="go back" data-toggle="tooltip" data-placement="right"><i class="lnr-cross2"></i></button>
